.icon {
  font-size: 24px;
  width: 64px;
  height: 64px;
  background-color: var(--primary-500);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
